@model TP_A16Book_Store.Models.Types

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Type: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    
</div>

<div>
    <h4>Books of Type @Model.Name</h4>
    @if (ViewBag.BooksOfType != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in ViewBag.BooksOfType as List<TP_A16Book_Store.Models.Books>)
                {
                    <tr>
                        <td>
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
                        </td>
                        <td>
                            @book.Author
                        </td>
                        <td>
                            @book.Year
                        </td>
                        <td>
                            @book.Price
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No books of this type yet.</p>
    }
</div>

<div>|
    <a asp-controller="Books" asp-action="Index">Back to List</a>
</div>