@model TP_A16Book_Store.Models.OrderDetails

@{
    ViewData["Title"] = "Details";
}

<h1 class="page-title">Orders Details</h1>

<div>
    <hr />
    <dl class="row styled-dl">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10 styled-dd">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10 styled-dd">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10 styled-dd">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 styled-dd">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class="col-sm-10 styled-dd">
            @Html.DisplayFor(model => model.Book.Author) - @Html.DisplayFor(model => model.Book.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>