@model TP_A16Book_Store.Models.Genres

@{
    ViewData["Title"] = "Details";
}


<div class="styled-details-container">
    <h4>Genre: @Html.DisplayFor(model => model.Name)</h4>
    <hr class="styled-hr" />

    <h4>Books in @Model.Name</h4>
    @if (ViewBag.BooksInGenre != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in ViewBag.BooksInGenre as List<TP_A16Book_Store.Models.Books>)
                {
                    <tr>
                        <td>
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">@book.Title</a>
                        </td>
                        <td>
                            @book.Author
                        </td>
                        <td>
                            @book.Year
                        </td>
                        <td>
                            @book.Price
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No books in this genre yet.</p>
    }
</div>

<div>
    <a asp-controller="Books" asp-action="Index">Back to List</a>
</div>